<!-- Page rendering form for New Episode i.e CREATE IN CRUD -->
{% extends "base.html" %}
{% block content %}

	<h1 class="text-center">New Episode</h1>
	<h2 class="text-center">{{series.name}}</h2>

	<div class="col-md-1"></div>
	<form class="col-md-11" action="#" method="POST">
		<h3 class="name">Name       : <input type="text" name="name"></h3> 
		<h3 class="name">Description: <input type="text" size='40' name="description"></h3> 
		<h3 class="name">Air-Date   : <input type ='text' name='air_date'></h3> 
		
		<input type="submit" name="Add Episode">
		<a class="button" href = "{{url_for('showEpisodes',series_id = series.id)}}">Cancel </a>
	</form>
	
{% endblock %}